<h1>Search Show Page</h1>

<%= form_tag("/search", method: "get") do %>
    <%= label_tag(:zip, "Zip") %>
    <%= text_field_tag(:zip) %>
    <%= label_tag(:distance, "Distance") %>
    <%= text_field_tag(:distance) %>
    <%= submit_tag("Locate") %>
<% end %>
