<h1>Transportation Fuel Index</h1>

<p><%= @stations.count %> closest stations</p>

<ol>
    <% @stations.each do |station| %>
	<li>Name: <%= station["station_name"] %>, Address: <%= station["street_address"] %>, <%= station["zip"] %>, Fuel Type: <%= station["fuel_type_code"] %>, Distance: <%= station["distance"] %>, Access Times: <%= station["access_days_time"] %></li>
    <% end %>
</ol>
